
@import "../../assets/css/variables"

.row
    margin: auto
    .form-post
        .form-control:not(.text-area-control):not(.btn-publicar)
            border: 1px solid $black-gray
            border-radius: 100px
        .column-left
            padding: 1% 8%
            .control-category
                width: 70%
            .contenedor-cargado-img
                .contenedor-img
                .col-lg-10
                    padding: 1%
                .col-lg-2
                    padding: .3%
                .file
                    position: absolute
                    width: 100%
                    height: 100%
                    opacity: 0

                .img-principal
                    width: 100%

            .contenedor-img-segundaria
                position: relative
                margin: 4% 0

                .file
                    position: absolute
                    width: 100%
                    height: 100%
                    opacity: 0
        .column-center
            padding: 1% 8%
            .text-area-control
                border: 1px solid $black-gray
                resize: none
        .column-right
            padding: 1% 8%
            .btn-publicar
                background-color: $yellow
                border: none
                box-shadow: $shadow
                color: black
                font-weight: bold
                font-size: 1.2em
                &:hover
                    background-color: $yellow-hover
                    box-shadow: $shadow-hover
                    transition: $smoothness

            .terminos
                color: $yellow
            
        
        .contenedor-img-segundaria:first-child
            margin-top: 0 !important

.targe-credit
    background: white
    box-shadow: -3px 3px 7px 1px rgba(48,45,48,.2)
    border-radius: 5px
    padding: 3%

    .radio
        display: flex
        justify-content: space-evenly

        .text-costo
            font-size: 1.5em
            display: flex
            align-items: center

            .costo
                width: 25px
                height: 20px