<div class="row">
    <form enctype="multipart/form-data" class="form-post">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="column-left">
                <div class="form-group contenedor-carga-categoria">
                    <label>Seleccione Categoria</label>
                    <select name="id_category_default" class="form-control control-category" [(ngModel)]='addProduct.id_category_default' (change)="getCategoryChild(addProduct.id_category_default)">
                        <option *ngFor="let category of listarAllCategory" 
                                [value]="category.id_category">
                            {{category.category_lang.name}}
                        </option>
                    </select> 
                </div>
                <div class="form-group contenedor-carga-sub-categoria">
                    <label>Seleccione Sub Categoria</label>
                    <select name="id_sub_category" class="form-control control-category" [(ngModel)]='addProduct.id_sub_category'>
                        <option *ngFor="let category of listSubCategoria" 
                                [value]="category.id_category">
                            {{category.name}}
                        </option>
                    </select> 
                </div>
                <div class="form-group">
                    <p><strong>Ingrese fotos del inmueble</strong></p>
                    <p>No incluyas logos, banners, textos promocionales, bordes ni marcas de agua</p>
                    <div class="col-lg-12 contenedor-cargado-img">
                        <div class="contenedor-img-principal contenedor-img" *ngFor="let image of listImage" [ngClass]="{'col-lg-2':image.class === true , 'col-lg-10':image.class === false}">
                            <input name="image-{{image.id_image}}" id="file-input-{{image.id_image}}" type="file" class="file"  (change)='uploadImage($event,image.id_image)' />
                            <img [src]="image.image" [ngClass]="{'small':image.class === true}" class="img-responsive img-principal" id="img-principal-{{image.id_image}}" alt="{{image.id_image}}">
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="column-center">
                <div class="form-group">
                        <label for="">Nombre Producto</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]='addProduct.productLang.name'>
                </div>
                <div class="form-group">
                    <label>Descripcion del Producto</label>
                    <textarea class="form-control text-area-control"  rows="10" name="descripcion" id="descripcion" name="description"[(ngModel)]='addProduct.productLang.description'>
            
                    </textarea>
                </div>
                <div class="form-group form-inline">
                    <label for="precio">Precio</label>
                    <input type="number" name="price" id="precio" class="form-control frm-precio" [(ngModel)]='addProduct.price'>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="column-right">
                <strong>Metodo de Publicación</strong>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" id="free" name="pago" value="free" [(ngModel)]='addProduct.orderGarage.method_payout' (change)="showCulqi(1)">GRATIS
                        </label>
                        <p><a href="javascript:void(0)" data-toggle="popover" title="Aviso" data-content="Las publicaciónes gratis duran 21 diás, y se ubican según la fecha de publicación" data-placement="bottom">Más información</a></p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label><input type="radio" id="costo" name="pago"  value="cost" [(ngModel)]='addProduct.orderGarage.method_payout' (change)="showCulqi(2)">PROMOCIONAR PUBLICACIÓN</label>
                        <p><a href="javascript:void(0)" data-toggle="popover" title="Aviso" data-content="Para impulsar tu producto puedes promocionar agregando un poco por publicación, asi podras vender mas rapido." data-placement="bottom">Más información</a></p>
                    </div>
                </div> 
                <div class="col-lg-10 targe-credit" *ngIf="!isFree">
                    <div class="form-group form-inline">
                        <div class="radio">
                            <label class="text-costo"><input type="radio" name="costo" id="15" class="costo" (click)="addImages(3,15)"> S/.15</label>
                            <label class="text-costo"><input type="radio" name="costo" id="40" class="costo" (click)="addImages(6,40)"> S/.40</label>
                            <label class="text-costo"><input type="radio" name="costo" id="70" class="costo" (click)="addImages(6,70)"> S/.70</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Correo Electronico</label>
                        <input type="text" class="form-control" data-culqi="card[email]" id="card[email]" size="50" placeholder="correo@gmail.com">
                    </div>
                    <div class="for-group">
                        <label>Número de tarjeta</label>
                        <input type="text" maxlength="19" class="form-control" data-culqi="card[number]" id="card[number]" placeholder="4111 1111 1111 1111" appCardNumber="true">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Mes</label>
                                <input type="text" class="form-control" maxlength="2" data-culqi="card[exp_month]" id="card[exp_month]" placeholder="02" appOnlyNumber>
                            </div>
                            <div class="col-lg-4">
                                <label>Año</label>
                                <input type="text" class="form-control" maxlength="4" data-culqi="card[exp_year]" id="card[exp_year]" placeholder="2018" appOnlyNumber>
                            </div>
                            <div class="col-lg-4">
                                <label>CVC</label>
                                <input type="text" class="form-control" maxlength="3" data-culqi="card[cvv]" id="card[cvv]" placeholder="123" appOnlyNumber>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="errorCulqiMessage !== undefined"  class="alert alert-danger">
                        <p>{{errorCulqiMessage}}</p>
                    </div>
                    <div *ngIf="successCulqiMessage !== undefined" class="alert alert-success">
                        <p>{{successCulqiMessage}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox col-lg-12">
                        <label><input type="checkbox" [checked]="addProduct.id_product > 0" name="terminos" #elemTerminos (change)="accepted(elemTerminos.checked)">Acepta nuestros <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-term-and-condition" class="terminos"> términos y condiciones</a></label>
                    </div>
                </div>
                <div class="form-group" *ngIf="!isFree" >
                    <button class="btn btn-default btn-block" (click)="realizarPago()" [disabled]='!elemTerminos.checked || culqiPagoOk'>Realizar Pago</button>
                </div>
                <button *ngIf="addProduct.id_product === 0" type="button" class="form-control btn-block btn-publicar" [disabled]='(!elemTerminos.checked && isFree || !elemTerminos.checked && !isFree && !culqiPagoOk)' (click)='grabarProducto(elemTerminos.checked)'>PUBLICAR PRODUCTO</button>
                <button *ngIf="addProduct.id_product > 0" type="button" class="form-control btn-block btn-publicar" (click)='grabarProducto(true)'>ACTUALIZAR PRODUCTO</button>
            </div>
        </div>
    </form>
</div>

<div id="modal-term-and-condition" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Términos y condiciones</h4>
        </div>
        <div class="modal-body">
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><strong>T&eacute;rminos y condiciones de compra de servicio hogaryspacios.com</strong></span></span></p>

            <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Garage.hogaryspacios.com se preocupa por habilitarte un espacio en donde podr&aacute;s vender tus muebles usados de manera m&aacute;s precisa y directa. Todos los muebles relacionados al hogar lo encontrar&aacute;s en nuestra plataforma virtual. </span></span></p>
            
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Nuestra misi&oacute;n es brindarte un espacio en donde tengas la satisfacci&oacute;n de adquirir productos de otras personas que est&eacute;n vendiendo sus muebles usados y por ello, hogaryspacios.com te brinda el siguiente formato de uso de compra de diversos paquetes:</span></span></p>
            
            <table align="center" border="1" cellspacing="0" class="MsoTableGrid" style="border-collapse:collapse; border:solid windowtext 1.0pt">
                <tbody>
                    <tr>
                        <td style="background-color:#ffc000; width:93.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Paquetes</span></span></p>
                        </td>
                        <td style="background-color:#ffc000; width:90.7pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Cantidad de fotos</span></span></p>
                        </td>
                        <td style="background-color:#ffc000; width:42.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Costo</span></span></p>
                        </td>
                        <td style="background-color:#ffc000; width:127.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Duraci&oacute;n de promoci&oacute;n</span></span></p>
                        </td>
                        <td style="background-color:#ffc000; width:87.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Ubicaci&oacute;n </span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:15.4pt; vertical-align:top; width:93.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Zona impulso</span></span></p>
                        </td>
                        <td style="height:15.4pt; vertical-align:top; width:90.7pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">3 Fotos</span></span></p>
                        </td>
                        <td style="height:15.4pt; vertical-align:top; width:42.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">S/.20</span></span></p>
                        </td>
                        <td style="height:15.4pt; vertical-align:top; width:127.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">10 d&iacute;as adicionales</span></span></p>
                        </td>
                        <td style="height:15.4pt; vertical-align:top; width:87.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Puesto 3</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:93.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Zona fuego</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:90.7pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">5 Fotos</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:42.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">S/.40</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:127.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">25 d&iacute;as adicionales</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:87.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Puesto 2</span></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:93.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Zona garage</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:90.7pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">8 Fotos</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:42.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">S/.70</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:127.6pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">50 d&iacute;as adicionales</span></span></p>
                        </td>
                        <td style="vertical-align:top; width:87.25pt">
                        <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Puesto 1</span></span></p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>
            
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Hogaryspacios.com no se responsabiliza si el producto llega a venderse o no posterior a la publicaci&oacute;n y pago del paquete elegido, sin embargo, hogaryspacios.com se compromete a difundir por canales adwords y posicionar dentro de la web los muebles de segunda.</span></span></p>
            
            <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif">Toda publicaci&oacute;n debe sujetarse a la siguiente norma: <a [routerLink]="['/term-and-condition']" data-dismiss="modal"> T&eacute;rminos y condiciones </a></span></span></p>                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
  
    </div>
  </div>
