@import "../../assets/css/variables"

$fondo-header: #FFF
$bottom-primary: #ffbd0b
$facebook: #4267b2
$google: #DD4D40
$shadow: 2px 2px 2px 0px rgba(0,0,0,.16)

.header
  align-items: center
  background: $fondo-header
  box-shadow: $shadow
  display: flex
  flex-direction: column
  height: 60px
  justify-content: center
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  @media screen and (max-width: $lg)
    height: 60px
    transition: $smoothness

  @media screen and (max-width: $md)
    height: 55px
    transition: $smoothness

  @media screen and (max-width: $sm)
    height: 50px
    transition: $smoothness

  @media screen and (max-width: $xs)
    height: 45px
    transition: $smoothness

.img-logo
  height: 40px




.registro-login
  display: flex
  align-items: center
  justify-content: space-between

  .icon-user:before
    background-image: url(../../assets/img/registrarse.svg)
    content: ""
    width: 38px
    height: 38px
    background-repeat: no-repeat
    display: inline-block
    background-size: 28px 28px
    background-position: 8px 7px



.iniciar-sesion
  background: $bottom-primary
  border: none



.modal-body
  .form-group
    .facebook
      background-color: $facebook
      border: none
    .google
      background-color: $google
      border: none


