<div class="row">
    <div class="customer-information">
        <span>David Choque Rojas</span>
        <strong>
            <a href="tel:978615645">978615645</a>
        </strong>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4">
        <div class="product-information">
            <h4>{{detailProduct.producto}}</h4>
            <span class="item-price">{{detailProduct.price  | currency : 'S/.'}}</span>
            <div class="contenedor-item-condicion">
                <label class="text-item-condicion">Condición</label>
                <span class="item-condicion">{{detailProduct.condition |uppercase}}</span>
            </div>
            <div class="descripcion-item">
                <p>{{detailProduct.descripcion}}</p>
            </div>
            <div class="contenedor-btn-contact">
                <button type="submit" class="btn btn-block btn-contactar-vendedor">CONTACTAR CON VENDEDOR</button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1" id="slider-thumbs">
        <!-- Bottom switcher of slider -->
        <ul class="hide-bullets">
            <li class="item_" *ngFor="let image of detailProduct.image;let i = index;">
                <a #elemLink class="thumbnail item-carrousel" id="carousel-selector-{{i}}" (click)="cambiarVistaCarousel(elemLink)">
                    <img [src]="image.urlImage">
                </a>
            </li>
        </ul>
    </div>

    <div class="imagen-principal col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="imagen-xl" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item" *ngFor="let image of detailProduct.image;let i = index;" [ngClass]="{'active':i == 0}" data-slide-number="0">
                        <img [src]="image.urlImage" class="img-responsive"></div>
                </div>
                <!-- Carousel nav -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

  <!-- Zona de comentarios -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Zona comentarios
    </div>
</div>
