@import "../../assets/css/variables"
.row
  margin-left: 4%
  margin-right: 4%
  #slider-thumbs
    .hide-bullets
      padding: 0
      &>li
        list-style: none
        .thumbnail
          margin-bottom: 5px
          img
            height: 100%
            object-fit: cover
            width: 100%
  .product-information
    .item-price
      font-size: 20pt
      font-family: "Gotham Bold"
      font-weight: bold
      color: $yellow

    .contenedor-item-condicion
      padding: 2% 0

      .text-item-condicion
        color: $black-gray
        margin: 0 1em 0 0

      .item-condicion
        background: $white
        border-radius: 5px
        box-shadow: $shadow
        color: $black-gray
        cursor: default
        padding: .2em 1.4em

    .descripcion-item
        p
          color: $black-gray
          text-align: justify

    .contenedor-btn-contact
      .btn-contactar-vendedor
        background: $yellow
        color: $white
        font-weight: bold
        font-size: 9pt

      &:hover
        background: $yellow-hover
  .imagen-principal
    .imagen-xl
      .carousel-inner
        height: 460px
        .item
          height: 100%
          img
            height: 100%
            object-fit: cover
            width: 100%
