@import "../../assets/css/variables"

.col-lg-4
    .item-price
      font-size: 20pt
      font-family: "Gotham Bold"
      font-weight: bold
      color: $yellow

    .contenedor-item-condicion
      padding: 2% 0

      .text-item-condicion
        color: $black-gray
        margin: 0 1em 0 0

      .item-condicion
        background: $white
        border-radius: 5px
        box-shadow: $shadow
        color: $black-gray
        cursor: default
        padding: .2em 1.4em

    .descripcion-item
        p
          color: $black-gray
          text-align: justify

    .contenedor-btn-contact
      .btn-contactar-vendedor
        background: $yellow
        color: $white
        font-weight: bold
        font-size: 9pt

      .btn-contactar-vendedor:hover
        background: $yellow-hover

.imagen-principal
  #main_area
    .col-sm-4
      .hide-bullets
        list-style: none

    .imagen-xl
      .carousel-inner
        height: 460px
        width: 460px
        .item
          img
            height: 100%
            object-fit: cover

