/*medidas de pantalla
$lg: 1170px
$md: 970px
$sm: 750px
$xs: 360px
$smoothness: ease-in .35s


/*colores
$yellow: #ffd015
$yellow-hover: #ffb520
$white: #ffffff
$black-opacity: rgba(0, 0, 0, 0.5)
$black: #333333
$black-gray: #666666
$silver: #cccccc
$silver-gray: #f8f8f8
$shadow: 2px 2px 2px 0px rgba(0,0,0,.16)

@font-face
  font-family: "Gotham Bold"
  src: url(../../assets/fonts/Gotham-Bold.otf)


@font-face
  font-family: "Gotham Book"
  src: url(../../assets/fonts/Gotham-Book.otf)


@font-face
  font-family: "Gotham Medium"
  src: url(../../assets/fonts/Gotham-Medium.otf)


@font-face
  font-family: "Gotham Ultra"
  src: url(../../assets/fonts/Gotham-Ultra.otf)

