$blanco : #FFF
$colorBottom : #FFD015
$color1: #FFD015
$color-hover: #ffb520
$colo2: #FFF
$shadow: 2px 2px 2px 0px rgba(0,0,0,.16)

@import "../../assets/css/variables"

.contenedor-lista-producto
    padding: 0
    display: flex
    flex-wrap: wrap

    .content-product
        margin: 2% 0

        .contenedor-product
            background: $blanco
            border-radius: 10px
            box-shadow: $shadow
            height: 320px
            width: 100%

            .contenedor-img-product
              height: 235px
              padding: 4%
              width: 235px

              .img-productos
                height: 100%
                width: 100%
                object-fit: cover

            .contenedor-price-condicion
                display: flex
                justify-content: space-between
                align-items: center
                padding: 0 1em

                .price
                    color: $colorBottom
                    font-size: 16pt
                    text-align: left

                .condicion
                    font-weight: bold

.contenedor-texto
  padding: 0 4%

.contenedor-precio
    display: flex
    justify-content: center
    margin: .5em 0

    .txt-filtrar
        width: 100%
        max-width: 40%
.pagination
    display: flex
    justify-content: flex-end

.btn
    background : $colorBottom
    color: $blanco
.enlace-product
    color: initial
    text-decoration: none
    display: inline-block
