<!-- {{listarProduct.per_page}}  -->
  <div class="row">
    <!-- <div class="col-lg-12">
        <ol class="contenedor-etiqueta">
            <a href="#" class="enlace-etiqueta"><li class="etiqueta">Homepage</li></a>
            <a href="#" class="enlace-etiqueta"><li class="etiqueta">Venta de Gerage</li></a>
        </ol>
    </div> -->
    <div class="col-lg-3">
      <div class="aside-filtro">
        <div class="filtro-salas">
          <i class="fal fa-scrubber"></i>
          <h4 class="font-weight-bold">{{categoryName | uppercase}}</h4>
          <ul>
            <li *ngFor="let subcategory of getSubCategory">
              <a [routerLink]="['/category-product','cat',subcategory.id_category]">{{subcategory.name}}</a>
            </li>
          </ul>
        </div>
        <div class="filtros">

          <h5>
            <i class="fas fa-sliders-h"></i>
            <span class="icon-filtro"></span>
            FILTROS
          </h5>
          <h6>Precio</h6>
          <div id="slider-range"></div>
          <div class="contenedor-precio">
            <input type="text" name="__" id="amount"  min="240" max="10000" class="txt-filtrar" value="0" >
            <span class="glyphicon glyphicon-minus "></span>
            <input type="text" name="_" id="amount1"  min="240" max="10000" class="txt-filtrar" value="1000">
          </div>
          <button type="submit" class="btn-filtrar btn btn-block" (click)="getfiltePrice()">Filtrar Precio</button>
        </div>
        <div class="fecha-post">
          <h6>Fecha de Post</h6>
          <div class="checkbox">
            <label><input type="radio" value="hoy" name="fecha" [(ngModel)]="oFilterProduct.fecha"  (change)="busquedaporFecha(oFilterProduct)">Hoy</label>
          </div>
          <div class="checkbox">
            <label><input type="radio" value="semana" name="fecha" [(ngModel)]="oFilterProduct.fecha"  (change)="busquedaporFecha(oFilterProduct)">Esta semana</label>
          </div>
          <div class="checkbox">
            <label><input type="radio" value="mes" name="fecha" [(ngModel)]="oFilterProduct.fecha"  (change)="busquedaporFecha(oFilterProduct)">Ultimo mes</label>
          </div>
          <div class="checkbox">
            <label><input type="radio" value="all" name="fecha" [(ngModel)]="oFilterProduct.fecha"  (change)="busquedaporFecha(oFilterProduct)">Todos</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <!-- <div class="col-lg-4">
          <form action="">
              <div class="form-group desplazar-pagina">
                  <label for="porpaginas">Producto por página:</label>
                  <select class="form-control porpagina" id="porpaginas" data-size="4">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                  </select>
              </div>
          </form>
      </div> -->
      <div class="row">
        <div class="col-lg-12 contenedor-ordenar text-right">
          <label class="label-ordenar mr-1">Ordenar por</label>
          <div class="col-lg-4 contenedor-dropdown dropdown pull-right select-title">
            <select class="form-control" [(ngModel)]="oFilterProduct.sortBy" (change)="getfiltePrice(oFilterProduct)">
              <option value="popularity">Popularidad</option>
              <option value="price|asc">Precio: Menor - Mayor</option>
              <option value="price|des">Precio: Mayor - Menor</option>
              <option value="new">Lo mas reciente</option>
              <option value="name|asc">Titulo : A - Z</option>
              <option value="name|des">Titulo : Z - A</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" >
          <div class="contenedor-lista-producto">
            <div class="content-product col-xs-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let productos of listarProduct | productFilter:eProduct | paginate: { itemsPerPage: 10, currentPage: p }">
              <a [routerLink]="['/detail-product','id',productos.id_product]" class="enlace-product">
                <div class="contenedor-product">
                  <div class="contenedor-img-product">
                    <img src="{{productos.url}}" alt="" class="img-responsive img-productos">
                  </div>

                  <div class="contenedor-texto">
                    <p class="tt text-left">{{(productos.producto.length>6)? (productos.producto|slice:0:30)+'..':(productos.producto)}}</p>
                  </div>
                  <div class="contenedor-price-condicion">
                    <span class="price">S/.{{productos.price | number:0}}</span>
                    <span class="condicion">{{productos.condition|uppercase}} </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <pagination-controls (pageChange)="p = $event" class="col-lg-12"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
