@import "../../assets/css/variables"

$color-hover: #ffb520




.contenedor-lista-producto
    padding: 0
    display: flex
    flex-wrap: wrap

    .content-product
      margin: 2% 0
      display: flex
      justify-content: center

      .contenedor-product
        background: $white
        border-radius: 10px
        box-shadow: $shadow
        height: 300px
        width: 100%
        @media screen and (max-width: $xs)
          height: 200px
          width: 140px



        .contenedor-img-product
          height: 235px
          padding: 4%
          width: 235px
          @media screen and (max-width: $xs)
            height: 135px
            padding: 4%
            width: 100%

          .img-productos
            height: 100%
            width: 100%
            object-fit: cover

        .contenedor-price-condicion
          align-items: center
          display: flex
          justify-content: space-between
          padding: 0 1em
          position: relative


          .price
            color: $yellow
            font-family: "Gotham Bold"
            font-size: 15pt
            text-align: left

            @media screen and (max-width: $xs)
              font-size: 12pt
              padding-top: 4%

          .condicion
            color: $black-gray
            font-weight: bold
            font-size: 14px

            @media screen and (max-width: $xs)
              font-size: 10px
              padding-top: 4%

        &:hover
          box-shadow: $shadow-hover
          transition: $smoothness
          height: 340px
          @media screen and (max-width: $xs)
            height: 200px



.contenedor-texto
  height: 34px
  color: $black-gray
  font-family: "Gotham Book"
  margin: auto
  font-size: 13px
  padding: 0 4%
  @media screen and (max-width: $xs)
    font-size: 10px


.contenedor-precio
    display: flex
    justify-content: center
    margin: .5em 0
    input
      background: $white
      border: 1px solid $silver
      border-radius: 14px
      box-shadow: $shadow
      color: $black-gray
      font-family: "Gotham Book"
      font-size: 14px
      height: 28px
      text-align: center
      margin: 10px 0

    span
      margin: auto
      color: $black-gray



    .txt-filtrar
          width: 100%
          max-width: 40%

.pagination
    background: $white
    color: $black-gray
    display: flex
    justify-content: space-between



.btn
    background : $yellow
    color: $white
    box-shadow: $shadow
    &:hover
      box-shadow: $shadow-hover
    &:active
      background: $yellow-hover

.enlace-product
    color: initial
    text-decoration: none
    display: inline-block


//codigo para los filtros de categoria

.aside-filtro
  background: $white
  padding: 10px 5%


  .filtro-salas
    h4
      color: $black-gray
      font-family: "Gotham Medium"
      font-size: 15px
    ul
      padding-left: 4%
      li
        list-style: none
        a
          color: $black-gray
          font-family: "Gotham Book"
          font-size: 14px


  .filtros
    h5
      color: $black-gray
      font-family: "Gotham Medium"
      font-size: 15px
      margin-top: 20px

    h6
      color: $black-gray
      font-family: "Gotham Medium"
      font-size: 14px


  .fecha-post h6
    color: $black-gray
    font-family: "Gotham Medium"
    font-size: 14px

  .checkbox
    color: $black-gray
    font-family: "Gotham Book"
    font-size: 14px

.contenedor-ordenar
  display: flex
  margin-right: 0
  label
    color: $black-gray
    font-family: "Gotham Medium"
    margin: auto 0

  .contenedor-dropdown
    .form-control
      background: $white
      border: 1px solid $silver
      border-radius: 14px
      height: 36px
      option
        color: $black-gray
        font-family: "Gotham Book"
        font-size: 12px
        text-align: center
